export STRESS_TEST_CLIENT_SECRET="$(bo show credential concourse-main stress-test.credentials client_secret)"
export STRESS_TEST_CLIENT_ID="$(bo show credential concourse-main stress-test.credentials client_id)"